html {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border: 5px solid #495057;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
}

.image-container:nth-child(4n + 1) {
  border: 5px solid red;
}

.image-container:hover {
  border: 5px solid yellow;
  transform: rotate(45deg);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  text-align: center;
  margin: 2rem 0 4rem 0;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }

  .date {
    margin: 1.6rem 0;
    font-size: 1.2rem;
  }
}
